R
node_modules
*.pyc
.*
!.gitignore
*__pycache__*
.coverage*
.bash_history
.cache/*
.ipynb_checkpoints/*
.ipython/*
.local/*
.oracle_jre_usage/*
.jupyter/*
.pip/*
.ssh/*
.viminfo
.vscode-server
.pylint.
